@import "tailwindcss";

:root {
  --color-bg-main: #f5f5f5;
  --color-bg-secondary: #ffffff;
  --color-border-main: #d4d4d4;
  --color-text-main: #000000;
  --color-scrollbar-thumb: rgba(0, 0, 0, 0.3);
  --color-scrollbar-thumb-hover: rgba(0, 0, 0, 0.45);

  /* secondary color same for dark and light */
  --color-text-secondary: #787a7d;

  --color-text-error: #dc2626;
  --color-btn-primary-bg: #0437f2;
  --color-btn-secondary-bg: #acaeb0;
  --color-btn-warning-bg: #f59e0b;
  --color-btn-danger-bg: #dc2626;

  /* outline colors same for dark and light */
  --color-outline-primary: #1e78ec;
  --color-outline-secondary: #acaeb0;
  --color-outline-warning: #fbbf24;
  --color-outline-danger: #dc2626;
}

.dark {
  --color-bg-main: #0f0e0e;
  --color-bg-secondary: #1e1d1d;
  --color-border-main: #3f3f3f;
  --color-text-main: #ffffff;
  --color-scrollbar-thumb: rgba(255, 255, 255, 0.8);
  --color-scrollbar-thumb-hover: rgba(255, 255, 255, 0.95);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .bg-main {
    background-color: var(--color-bg-main);
  }
  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }

  .text-main {
    color: var(--color-text-main);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
  .text-error {
    color: var(--color-text-error);
  }

  .border-main {
    border-color: var(--color-border-main);
  }

  .btn-primary-bg {
    background-color: var(--color-btn-primary-bg);
  }
  .btn-secondary-bg {
    background-color: var(--color-btn-secondary-bg);
  }
  .btn-warning-bg {
    background-color: var(--color-btn-warning-bg);
  }
  .btn-danger-bg {
    background-color: var(--color-btn-danger-bg);
  }

  .outline-primary {
    outline-color: var(--color-outline-primary);
  }
  .outline-warning {
    outline-color: var(--color-outline-warning);
  }
  .outline-danger {
    outline-color: var(--color-outline-danger);
  }

  .scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-thumb-hover);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  @-moz-document url-prefix() {
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: var(--color-scrollbar-thumb) transparent;
    }

    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

@layer components {
  .link {
    @apply transition-transform duration-1000 ease-in-out hover:text-blue-950 cursor-pointer;
  }

  .form-group-row {
    @apply w-full flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 items-center md:items-start md:justify-between;
  }
  .form-group {
    @apply w-full flex flex-col;
  }
  .form-label {
    @apply font-semibold;
    color: var(--color-text-secondary);
  }

  .form-input {
    @apply w-full p-3 outline-2 rounded-xl mt-2;
    outline-color: var(--color-outline-secondary);

    &:focus {
      outline-color: var(--color-outline-primary);
    }
    &:-webkit-autofill {
      -webkit-box-shadow: transparent inset;
      -webkit-text-fill-color: var(--color-text-main);
      transition: background-color 5000s ease-in-out 0s;
    }

    /* Firefox autofill */
    &:-moz-autofill {
      box-shadow: transparent inset;
      -moz-text-fill-color: var(--color-text-main);
    }
  }

  .form-input-error {
    outline-color: var(--color-outline-danger);
    &:focus {
      outline-color: var(--color-outline-danger);
    }
  }

  .form-error {
    @apply text-sm ml-1 mt-1;
    color: var(--color-text-error);
  }

  .btn-primary {
    @apply w-full text-white py-3 rounded-xl transition-transform duration-1000 ease-in-out  cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
    background-color: var(--color-btn-primary-bg);
    &:hover {
      @apply hover:bg-blue-700;
    }
  }
}
